@import '../../styles/breakpoints';


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.imageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: inset 0px -6px 30px var(--pure-black-color);

    .buttonFavorite {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .image {
      max-height: 360px;
    }
}

.content {
    display: flex;
    max-width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;   
    flex: 8;
    padding: 16px;
    align-self: center;
    padding-top: 48px;
          

    @media (max-width: $mobile) {
        max-width: 100vw;
        justify-content: center;
        
    }
}



